#block-right .content {
	vertical-align: top;
}

#posts-list {
	margin: 50px 0px;
	> li {
		margin-bottom: 23px;
		padding-bottom: 20px;
		border-bottom: 1px solid darken($white, 8.2353);
		list-style: none;
		&:last-child {
			border: none;
		}
		h2 {
			font-size: 30px;
			margin-bottom: 15px;
		}
		p {
			color: darken($white, 40);
		}
		.date {
			color: $main;
			float: right;
			display: inline-block;
			font-size: 15px;
			padding-top: 10px;
			text-transform: uppercase;
		}
		.post-title {
			display: inline-block;
			max-width: 75%;
			&:hover span {
				border-bottom: 1px dotted $main;
			}
		}
	}
	.tags li > a {
		color: lighten($black, 28%);
	}
}


@media screen and (max-width: 640px) {
	.posts-list {
		margin-top: 80px;
		> li {
			.post-title {
				max-width: 100%;
			}
			h2 {
				font-size: 20px;
			}
			.date {
				float: left;
				display: block;
				width: 100%;
				padding-bottom: 10px;
			}
		}
	}
}