/*
 * based on the Orbit resume template by Xiaoying Riley
 */

$lslate: #545e6c;
$dslate: #3F4650;
$origblue: #2d7788;
$background: #f5f5f5;

body {
	font-family: "weblysleek_uilight", sans-serif;
	color: $lslate;
	background: $background;
	font-size: 16px;
	padding: 30px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

a {
	color: $main;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	&:hover {
		text-decoration: underline;
		color: $main;
	}
	&:focus {
	text-decoration: none;
	}
	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: $main;
	}
}

p {
	line-height: 1.5;
}

.posts-menu-icon {
	background: $background;
	&:before,
	&:after {
		background: $background;
	}
}

#wrapper {
	background: $main;
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 10px;
	position: relative;
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#sidebar-wrapper {
	background: $main;
	position: absolute;
	right: 0px;
	width: 280px;
	height: 100%;
	min-height: 800px;
	color: $white;
	a {
		color: $white;
	}
	.container-block {
		padding: 30px;
	}
	#profile-container {
		padding: 30px;
		background: rgba(0, 0, 0, 0.2);
		text-align: center;
		color: $white;
		#name {
			font-size: 32px;
			font-weight: 900;
			margin-top: 0px;
			margin-bottom: 10px;
		}
		#tagline {
			color: rgba(255, 255, 255, 0.6);
			font-size: 20px;
			font-weight: 400;
			margin-top: 0px;
			margin-bottom: 0px;
		}
		#profile-img {
			max-width: 100px;
			margin-bottom: 15px;
			border: 0px solid $white;
			border-radius: 10%;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		}
	}
	#download {
		margin-top: 10px;
		border: 0px;
		button {
			width: 90%;
			padding: 5px 15px;
		}
		p {
			display: inline;
			padding-left: 10px;
		}
		.btn:hover {
			background: #d6d6d6;
		}
	}
	#contact-list {
		.fa {
			margin-right: 5px;
			font-size: 18px;
			vertical-align: middle;
		}
		li {
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
		#email .fa {
			font-size: 14px;
		}
	}
}

#main-wrapper {
	background: $white;
	padding: 60px;
	padding-right: 340px;
	ul,
	ol {
		margin-bottom: 0px;
	}
	.section-title {
		font-size: 24px;
		font-weight: 500;
		color: $darkmain;
		position: relative;
		margin-top: 0px;
		margin-bottom: 10px;
		bottom: 0px;
		left: 0px;
		.fa {
			width: 30px;
			height: 30px;
			margin-right: 8px;
			display: inline-block;
			color: $white;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			border-radius: 50%;
			-moz-background-clip: padding;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			background: $main;
			text-align: center;
			padding-top: 8px;
			font-size: 16px;
			position: relative;
			top: -2px;
		}
	}
	.section {
		margin-bottom: 40px;
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
	.item-header {
		position: relative;
		overflow: hidden;
		margin-bottom: 2px;
	}
	.item-header-secondary {
		position: relative;
		overflow: hidden;
		margin-top: 5px;
	}
	.item-header-left {
		position: relative;
		color: $dslate;
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 2px;
		font-weight: 500;
	}
	.item-header-right,
	.item-header-secondary-right {
		position: absolute;
		right: 0px;
		top: 0px;
	}
	.item {
		margin-bottom: 20px;
	}
	ul {
		margin-left: 20px;
	}
	#education .coursework {
		margin-top: 5px;
		table {
			width: 100%;
		}
		table, tr, td {
			border: none;
		}
		th, td {
			padding: 7px 15px;
		}
		td:first-child {
			text-align: center;
		}
		td:last-child {
			text-align: left;
		}
		tr:hover {
			background-color: #f5f5f5;
		}
	}
	#publications {
		.publication-title {
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 1px;
		}
		.publication-authors {
			font-style: italic;
			margin-bottom: 1px;
		}
	}
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 850px) {
	body {
		padding: 10px 15px;
	}
	#sidebar-wrapper {
		position: static;
		width: inherit;
	}
	#main-wrapper {
		padding: 30px;
		.time {
			position: static;
			display: block;
		}
		.item-header {
			margin-bottom: 0px;
		}
	}
}
