table {
	width: 100%;
}
table, tr, td {
	border: none;
}
th, td {
	padding: 7px 15px;
}
td.message {
	width: 100%;
}
td:first-child {
	text-align: center;
}
td:last-child {
	text-align: left;
}
tr:hover {
	background-color: #f5f5f5;
}

.half-block {
	width: 50%;
	height: 100%;
	position: relative;
	display: table;
	> div {
		display: table-cell;
		vertical-align: middle;
	}
	.content {
		height: 100%;
	}
}

#block-left {
	float: left;
	.content {
		z-index: 1;
		position: relative;
	}
}

#block-right {
	float: right;
	overflow-y: auto;
}

.inactive {
	pointer-events: none;
	pointer: default;
}

.content {
	padding: 60px;
	max-width: 600px;
	margin: 0 auto;
}

canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.logo {
	position: absolute;
	z-index: 3;
	max-width: 150px;
	display: inline-block;
	height: auto;
	background-size: 100%;
	margin: 0 auto;
	position: relative;
	font: 0/0 verdana;
	color: transparent;
	text-shadow: none;
	border-radius: 5%;
}

.logo-menu-icon {
	top: 20px;
	left: 20px;
	position: absolute;
	img {
		width: 50px;
		height: auto;
	}
	&:after {
		display: none;
	}
}

.posts-menu-icon {
	position: absolute;
	top: 30px;
	right: 90px;
	width: 20px;
	height: 25px;
	border: 2px solid $gray;
	background: $white;
	z-index: 3;
	&:before {
		content: '';
		width: 20px;
		height: 25px;
		position: absolute;
		right: 2px;
		border: 2px solid $gray;
		top: 2px;
		background: $white;
	}
	&:after {
		content: '';
		width: 20px;
		height: 25px;
		border: 2px solid $gray;
		position: absolute;
		right: 6px;
		top: 6px;
		background: $white;
	}
	&:hover {
		border-color: $main;
		&:before,
		&:after {
			border-color: $main;
		}
	}
}

.resume-menu-icon {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 15px;
	height: 15px;
	border: 2px solid $gray;
	border-radius: 3px;
	cursor: pointer;
	z-index: 3;
	&:before {
		content: '';
		position: absolute;
		left: -19px;
		top: -2px;
		width: 15px;
		height: 15px;
		border: 2px solid $gray;
		border-radius: 3px;
	}
	span {
		position: absolute;
		top: 15px;
		right: -2px;
		width: 15px;
		height: 15px;
		border: 2px solid $gray;
		border-radius: 3px;
		&:before {
			content: '';
			position: absolute;
			left: -19px;
			top: -2px;
			width: 15px;
			height: 15px;
			border: 2px solid $gray;
			border-radius: 3px;
		}
	}
	&:hover {
		border-color: $main;
		&:before {
			border-color: $main;
		}
		span {
			border-color: $main;
			&:before {
				border-color: $main;
			}
		}
	}
	&.active {
		position: fixed;
	}
}

.icon-link {
	position: absolute;
	top: 72px;
	font-size: 12px;
	color: darken($white, 40);
}

.posts-link {
	right: 87px;
}

.resume-link {
	right: 24px;
}

.section-title {
	font-size: 100px;
	position: absolute;
	bottom: 50px;
	left: 50px;
	color: rgba($white, 0.6);
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	em {
		font-style: italic;
	}
	span {
		font-size: 20px;
	}
}

.tags {
	margin-top: 20px;
	> li {
		display: inline-block;
		background: darken($white, 5%);
		padding: 7px 10px;
		color: lighten($black, 28%);
		font-size: 11px;
		text-transform: uppercase;
		> a {
			color: $white;
		}
	}
}

.date-highlight {
	text-align: center;
	margin: 50px 0;
	color: darken($white, 40);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	&:before {
		content: '';
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		height: 2px;
		background: #eaeaea;
		margin-right: 10px;
	}
	&:after {
		content: '';
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		height: 2px;
		background: #eaeaea;
		margin-left: 10px;
	}
}

// media queries
@media screen and (max-width: 960px) {
	.half-block {
		float: none;
		width: 100%;
	}
	html {
		overflow: auto;
	}
	#block-right {
		overflow-y: inherit;
	}
}

@media screen and (max-width: 640px) {
	.date-highlight {
		margin: 80px 0 40px;
	}
	.section-title {
		font-size: 80px;
	}
	.content {
		padding: 20px
	}
}

// entry meta used in tags and categories page
.entry-meta {
	font-size: .75rem;
	text-transform: uppercase;
	padding-left: 0;
	display: none; // hide header meta on small screens
	@media screen and (min-width: $small) {
		display: block;
	}
	a {
		color: lighten($black, 45);
	}
	li {
		list-style-type: none;
		display: inline;
	}
	.tag,
	.category {
		display: inline-block;
		background-color: darken($white, 3%);
		border-radius: 2px;
		text-decoration: none;
		transition: all 0.3s ease-in-out;
		margin: 2px 5px;
		font-size: 0.7rem;
		border: none !important;
		span {
			float: left;
			padding: 2px 6px;
		}
		.count {
			background-color: darken($white, 8%);
		}
		&:hover {
			background-color: darken($white, 8%);
		}
	}
}
.entry-title > a{
	border: none !important;
}
.pagination {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 1em;
	&_pager {
		display: inline-block;
		padding: 0.75em;
		min-width: 5.5em;
		font-size: 0.8em;
		font-weight: 400;
		background-color: darken($white, 5%);
		color: darken($white, 35%) !important;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		transition: all 0.2s linear;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&:first-child {
			border-radius: 4px 0 0 4px;
		}
		&:last-child {
			border-radius: 0 4px 4px 0;
		}
		&:hover {
			background-color: $main;
			color: $white !important;
		}
		&.disabled {
			background-color: darken($white, 3%);
			color:darken($white, 15%) !important;
			&:hover {
				background-color: darken($white, 3%);
				color:darken($white, 15%) !important;
			}
		}
	}
}
