---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
	{% include head.html %}
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/home.css">
</head>

<body id="homepage">

	<div class="half-block" id="block-left">
		<div class="content">
			<div id="main-info">
				<a href="{{ site.url }}" class="logo">
					<img src="{{ site.url }}/images/{{ site.logo }}" alt="logo">
				</a>
				<h1>{{ site.title }}</h1>
				<h2>{{ site.description }}</h2>
				{% include social-links.html %}
			</div>
		</div>
		<canvas></canvas>
	</div>

	<div class="half-block" id="block-right">
		{% include navbar.html %}
		<div class="content">
			<div id="about-info">
				{{ content }}
			</div>
		</div>
	</div>

	{% include scripts.html %}
	<script src="{{ site.url }}/assets/js/canvas.js"></script>

</body>
</html>
