---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="projects" class="inner-post-page">

  <style>
  .logo {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
  }
  .projects-menu-icon, .posts-menu-icon {
    margin-right: 20px;
  }
  </style>
  <a href="{{ site.url }}" class="logo">
    <img src="{{ site.url }}/images/{{ site.logo | replace: '.', '-small.' }}" alt="logo">
  </a>
  <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon" id="posts-icon-projects"></a>
  <a href="{{ site.url }}/projects" title="project" class="projects-menu-icon">
    <span></span>
  </a>
  <div id="projects-block">
    <ul class="projects-menu">
      {% for item in site.data.projects %}
        {% capture image %}{{ item.image }}{% endcapture %}
        {% unless image contains 'http://' or image contains 'https://' %}
        {% capture image %}{{ site.url }}/{{ image }}{% endcapture %}
        {% endunless %}
        <li style="background:url({{ image }}) center center no-repeat;">
          <a href="{{ item.url }}" target="_blank" rel="nofollow external">
            <span>
              {{ item.title }}
              {% unless item.completed %}
              <br><em>in progress</em>
              {% endunless %}
            </span>
          </a>
          </li>
      {% endfor %}
    </ul>
  </div>
  {% include scripts.html %}
</body>
</html>
