---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/resume.css">
</head>

<body>
	<div id="wrapper">
		<div id="sidebar-wrapper">

			<div id="profile-container">

				<a href="{{ site.url }}" class="logo">
					<img id="profile-img" src="{{ site.url }}/images/{{ site.logo }}" alt="profile picture" />
				</a>

				{% if site.data.resume.name %}
				<h1 id="name">{{ site.data.resume.name }}</h1>
				{% endif %}

				{% if site.data.resume.tagline %}
				<h3 id="tagline">{{ site.data.resume.tagline }}</h3>
				{% endif %}

				<div id="download">
					<a href="{{ site.url }}/assets/Resume - Sumeet Bansal.pdf">
						<button class="btn btn-lg btn-outline">
							<i class="fa fa-download"></i> Download as PDF
						</button>
					</a>
				</div>

			</div>

			<div class="contact-container container-block">
				<ul class="list-unstyled" id="contact-list">

					{% if site.email %}
					<li id="email">
						<i class="fa fa-envelope"></i>
						<a href="mailto:{{ site.email }}">{{ site.email }}</a>
					</li>
					{% endif %}

					{% if site.phone %}
					<li id="phone">
						<i class="fa fa-phone"></i>
						<a href="tel:{{ site.phone | remove: ' ' }}">{{ site.phone }}</a>
					</li>
					{% endif %}

					{% if site.url %}
					<li id="website">
						<i class="fa fa-globe"></i>
						<a href="{{ site.url }}" target="_blank">{{ site.url }}</a>
					</li>
					{% endif %}

					{% if site.linkedin %}
					<li id="linkedin">
						<i class="fa fa-linkedin"></i>
						<a href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank">{{ site.linkedin }}</a>
					</li>
					{% endif %}

					{% if site.github %}
					<li id="github">
						<i class="fa fa-github"></i>
						<a href="http://github.com/{{ site.github }}" target="_blank">{{site.github}}</a>
					</li>
					{% endif %}

				</ul>
			</div>

		</div>

		<div id="main-wrapper">

		{% if site.data.resume.education %}
			<section class="section" id="education">
				<h2 class="section-title">
					<i class="fa fa-graduation-cap"></i>
					Education
				</h2>

				{% for edu in site.data.resume.education %}
				<div class="item">

					<div class="meta">
						<div class="item-header">
							<h3 class="item-header-left degree">{{ edu.degree }}</h3>
						</div>
						<div class="item-header-secondary">
							<div class="item-header-secondary-left university">{{ edu.university }}</div>
							<div class="item-header-secondary-right time">{{ edu.time }}</div>
						</div>
					</div>

					{% if edu.coursework %}
					<div class="coursework">
						Provost Honors. Relevant Coursework:
						<table>
							{% for course in edu.coursework %}
							<tr>
								<td class="course-id">
									{{ course.id }}
								</td>
								<td class="course-title">
									{{ course.title }}
								</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endif %}

				</div>
				{% endfor %}

			</section>
			{% endif %}

			{% if site.data.resume.experience %}
			<section class="section" id="experience">
				<h2 class="section-title">
					<i class="fa fa-briefcase"></i>
					Experience
				</h2>

				{% for exp in site.data.resume.experience %}
				<div class="item">

					<div class="meta">
						<div class="item-header">
							<h3 class="item-header-left org">{{ exp.org }}</h3>
							<div class="item-header-right location">{{ exp.location }}</div>
						</div>
					</div>

					{% for role in exp.roles %}
					<div class="meta">
						<div class="item-header-secondary">
							<div class="item-header-secondary-left job-title">{{ role.title }}</div>
							<div class="item-header-secondary-right time">{{ role.time }}</div>
						</div>
					</div>

					{% if role.details %}
					<div class="details">
						<ul>
							{% for bullet in role.details %}
							<li>{{ bullet.text }}</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}

					{% endfor %}

				</div>
				{% endfor %}

			</section>
			{% endif %}

			{% if site.data.resume.projects %}
			<section class="section" id="resume-projects">
					<h2 class="section-title">
						<i class="fa fa-code"></i>
						Projects
					</h2>

					{% for project in site.data.resume.projects %}
					<div class="item">
						<div class="item-header">
							<div class="item-header-left project-title">{{ project.title }}</div>
							{% if project.github %}
							<div class="item-header-right project-github">
								<a href="http://github.com/{{ project.github }}" target="_blank">
									<i class="fa fa-github"></i>
								</a>
							</div>
							{% endif %}
						</div>

						{% if project.details %}
						<div class="details">
							<ul>
								{% for bullet in project.details %}
								<li>{{ bullet.text }}</li>
								{% endfor %}
							</ul>
						</div>
						{% endif %}

					</div>
					{% endfor %}

			</section>
			{% endif %}

			{% if site.data.resume.extracurriculars %}
			<section class="section extracurriculars-section">
				<h2 class="section-title">
					<i class="fa fa-cogs"></i>
					Extracurricular Activities
				</h2>

				{% for exc in site.data.resume.extracurriculars %}
				<div class="item">

					<div class="meta">
						<div class="item-header">
							<h3 class="item-header-left org">{{ exc.org }}</h3>
						</div>
					</div>

					{% for role in exc.roles %}
					<div class="meta">
						<div class="item-header-secondary">
							<div class="item-header-secondary-left job-title">{{ role.title }}</div>
							<div class="item-header-secondary-right time">{{ role.time }}</div>
						</div>
					</div>

					{% if role.details %}
					<div class="details">
						<ul>
							{% for bullet in role.details %}
							<li>{{ bullet.text }}</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}

					{% endfor %}

				</div>
				{% endfor %}

			</section>
			{% endif %}

			{% if site.data.resume.publications %}
			<section class="section" id="publications">
				<h2 class="section-title">
					<i class="fa fa-file-text"></i>
					Publications
				</h2>

				{% for publication in site.data.resume.publications %}
				<div class="item">
					<div class="publication-title">{{ publication.title }}</div>
					<div class="publication-authors">{{ publication.authors }}</div>
					<div class="publication-conference">{{ publication.conference }}</div>
				</div>
				{% endfor %}

			</section>
			{% endif %}

			{% if site.data.resume.skills %}
			<section class="section" id="skills">
				<h2 class="section-title">
					<i class="fa fa-rocket"></i>
					Skills &amp; Qualifications
				</h2>

				{% for skillset in site.data.resume.skills %}
				<div class="item">
					<h3 class="item-header-left skillset-name">{{ skillset.name }}</h3>
					<div class="skillset-incl">{{ skillset.incl }}</div>
				</div>
				{% endfor %}

			</section>
			{% endif %}

		</div>
	</div>

	<script src="{{ site.url }}/assets/js/src/jquery-2.2.3.min.js"></script>
	<script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
	<script src="{{ site.url }}/assets/js/resume.js"></script>

	{% include scripts.html %}

</body>
</html> 